[submodule "submodule/ardupilot"]
	path = submodules/ardupilot
	url = https://github.com/ingmarfjolla/ardupilot
[submodule "submodule/qgroundcontrol"]
	path = submodules/qgroundcontrol
	url = https://github.com/ingmarfjolla/qgroundcontrol
[submodule "submodules/mavlink"]
	path = submodules/mavlink
	url = https://github.com/ingmarfjolla/mavlink
[submodule "submodules/pymavlink"]
	path = submodules/pymavlink
	url = https://github.com/ingmarfjolla/pymavlink
[submodule "submodules/c_library_v2"]
	path = submodules/c_library_v2
	url = https://github.com/ingmarfjolla/c_library_v2
[submodule "submodules/ardupilot"]
	path = submodules/ardupilot
	url = https://github.com/ingmarfjolla/ardupilot
[submodule "submodules/qgroundcontrol"]
	path = submodules/qgroundcontrol
	url = https://github.com/ingmarfjolla/qgroundcontrol
